<h3><%= header %></h3>

<% @products.each do |product| %>
  <div class="col-md-4">
    <ul style="list-style: none;">
      <li><div class="product-image thumbnail"><%= image_tag(product.photo_url) %></div></li>
      <li><h3><%= link_to product.name, product_path(product.id) %></h3></li>
      <li><h5><%= number_to_currency(product.price) %> each</h5></li>
      <li><h5>Available: <%= product.stock %></h5></li>
    </ul>
  </div>
<% end %>
