<h1>Get Shipping Estimate</h1>

<%= bootstrap_form_for :estimate,:url => { :controller => 'application', :action => 'request_invite' } class: 'form-horizontal' do |f| %>
<fieldset>
  <legend>Shipping Details</legend>
    <div class="col-md-8">
      <%= f.text_field :city %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :state %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :zip %>
    </div>
      <%= f.hidden_field :country, :value => 'US' %>
 </fieldset>

  <%= f.submit 'Get Estimate', class: 'btn btn-primary' %>
<% end %>
