<h1>Add Payment Details</h1>

<%= bootstrap_form_for @order, url: order_path(params[:id]), :html => {:class => 'form-horizontal'} do |f| %>
<fieldset>
  <legend>Payment Details</legend>
    <div class="col-md-8">
      <%= f.text_field :name %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :email %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :street %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :city %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :state %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :zip %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :credit_card %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :exp_date %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :cvv %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :billing_zip %>
    </div>
 </fieldset>

  <%= f.submit 'Place Order', :data => {:confirm => 'Place Order Now?'}, class: 'btn btn-primary' %>
<% end %>
