<h1>Order #<%= @order.id %> Details</h1>

<h3>Payment Details</h3>
<table class="table">
  <tr>
    <td class="text-right">Status:</td>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <td class="text-right">Name:</td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td class="text-right">Email:</td>
    <td><%= @order.email %></td>
  </tr>
  <tr>
    <td class="text-right">Address:</td>
    <td><%= @order.street %> <%= @order.city %>,<%= @order.state %> <%= @order.zip %></td>
  </tr>
  <tr>
    <td class="text-right">Credit Card:</td>
    <td><%= @order.credit_card %></td>
  </tr>
  <tr>
    <td class="text-right">Exp Date:</td>
    <td><%= @order.exp_date %></td>
  </tr>
  <tr>
    <td class="text-right">CCV Code:</td>
    <td><%= @order.cvv %></td>
  </tr>
  <tr>
    <td class="text-right">Billing Zip:</td>
    <td><%= @order.billing_zip %></td>
  </tr>
</table>

<h3>Order Details</h3>
<table class="table">
  <% total = 0 %>
  <% @order_items.each do |order_item| %>
    <% if order_item.order_id == @order.id %>
      <tr>
        <td><%= order_item.product.name %></td>
        <td><%= number_to_currency(order_item.revenue) %></td>
        <% total += order_item.revenue %>
        <td><%= order_item.shipped ? "Shipped" : "Not Shipped" %></td>
      </tr>
    <% end %>
  <% end %>
  <tfoot>
    <tr>
      <td>TOTAL</td>
      <td><%= number_to_currency(total) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
