<h3><%= @order_products.count %> <%= @order_products.count == 1 ? "Item" : "Items" %> in Your Cart</h3>

<table class="table">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @order_products.each do |item| %>
    <tr>
      <td><%= image_tag(item.photo_url, class: "cart-thumbnail") %></td>
      <td><%= item.name %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= "Quantity_Here_Later" %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Checkout" %>

