<h3>Categories</h3>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.name.titlecase %></li>
  <% end %>
</ul>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>
