<h1>Edit Product</h1>

<%= form_for @product, url: merchant_product_path(params[:merchant_id], params[:id]), class: 'form' do |f| %>
  <fieldset>
    <legend>Product Details</legend>
      <%= f.text_field :name %>

      <%= f.text_area :description %>

      <%= f.text_field :price %>

      <%= f.number_field :stock %>

      <%= f.select :active, [['Active', true], ['Inactive', false]] %>

      <%= f.text_field :photo_url %>

      <%= f.hidden_field :merchant_id, :value => params[:merchant_id] %>

      <%= f.collection_check_boxes( :categories, @categories, :id, :name, checked: @product.categories.map(&:id)) %>
  </fieldset>
  <%= f.submit %>
<% end %>
