<h1>Edit Product</h1>

<%= bootstrap_form_for @product, url: merchant_product_path(params[:merchant_id], params[:id]) do |f| %>
  <fieldset>
    <legend>Product Details</legend>
      <%= f.text_field :name %>

      <%= f.text_area :description %>

      <%= f.text_field :price %>

      <%= f.number_field :stock %>

      <%= f.select :active, [['Active', true], ['Inactive', false]] %>

      <%= f.text_field :photo_url %>

      <%= f.collection_check_boxes( :categories, @categories, :id, :name, active:  @product.categories.include?(@product.id)) %>

      <%= f.hidden_field :merchant_id, :value => params[:merchant_id] %>

  </fieldset>
  <%= f.submit %>
<% end %>
