<%= link_to "Add to Cart" , add_to_cart_path, method: :post , class: "btn btn-default" %>
<%= link_to "Checkout", class: "btn btn-default" %>

<h1>Product Information</h1>

<ul>
  <li>
    <div class="product-image"><%= image_tag(@product.photo_url) %></div>
  </li>
  <li>
    Product Name: <%= @product.name %>
  </li>
  <li>
    Description: <%= @product.description %>
  </li>
  <li>
    Price: <%= @product.price %>
  </li>
  <li>
    Number in Stock: <%= @product.stock %>
  </li>
</ul>

<%= link_to "View this Merchant's Store", merchant_path %>

<h3> Current Reviews </h3> 

  <table border "1">

  <tr>
    <th>
      Review
    </th>
    <th>
      Rating
    </th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td>
      <%= review.content %>
    </td>

    <td>
      <%= review.rating %>
    </td>


  </tr>
  <% end %>
</table>

