
<h3><%= @product.name %></h3>
<h5><%= link_to @product.merchant.name, merchant_path(id: @product.merchant.id) %></h5>

<div class="row">
  <div class="col-md-6">
    <%= image_tag(@product.photo_url) %>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Price: </dt>
      <dd><%= number_to_currency(@product.price) %></dd>
      <dt>Number Instock: </dt>
      <dd><%= @product.stock %></dd>
      <dt>Description: </dt>
      <dd><%= @product.description %></dd>
    </dl>
    <%= link_to "Add to Cart" , add_to_cart_path, method: :post , class: "col-md-offset-9 btn btn-default" %>
  </div>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>Reviews</th>
      <th>Ratings</th>
    </tr>

    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.content %></td>
      <td><%= review.rating %></td>
    </tr>
    <% end %>
  </table>
</div>

<h4>Want to Review this Product?</h4>

<%= link_to "Review This Product", new_product_review_path(@product.id), class: "btn btn-default" %>

