<%= link_to "Add to Cart" %>
<%= link_to "Checkout" %>

<h1>Product Information</h1>

<ul>
  <li><div class="product-image"><%= image_tag(@product.photo_url) %></div></li>
  <li>Product Name: <%= @product.name %></li>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= @product.price %></li>
  <li>Number in Stock: <%= @product.stock %></li>
</ul>

<h3> Current Reviews </h3>

<table border "1">
  <tr>
  <th>Review</th>
  <th>Rating</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.content %></td>
      <td><%= review.rating %></td>
    </tr>
  <% end %>
</table>

<%= bootstrap_form_for @review, url: product_reviews_path(params[:product_id]) do |f| %>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.label :rating %>
    <%= f.text_field :rating %>

    <%= f.hidden_field :product_id, :value => params[:product_id] %>
  </fieldset>

  <%= f.submit "Add this Review" %>
<% end %>
